@model Movie

<a href="https://localhost:44312/movie"> Get All Movies </a>
<a href="https://localhost:44312/movie/Action"> Get All Action Movies </a>
<a href="https://localhost:44312/movie/Fantasy"> Get All Fantasy Movies </a>
<a href="https://localhost:44312/movie/Cartoon"> Get All Cartoons </a>
<a href="https://localhost:44312/movie/Horror"> Get All Horror Movies </a>
<a href="https://localhost:44312/movie/Mystery"> Get All Mystery Movies </a>



